@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Electrolize', sans-serif;
  font-size: 1rem;
}

html, body {
  background-color: var(--color-bg-light);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
    --color-bg: #F5E8C7;
    --color-bg-light:#DEBA9D;
    --color-bg-dark: #9E7777;
    --color-bg-var: #6F4C5B;
    --color-bg-gold: #ECB390;

    --color-text-light: #d2d0d0;
    --color-text-dark: #47474c;
    --color-text-toxic: #3CCF4E;

    --color-black: #222831;
    --color-white: #fcfcfc;
    --color-highlight: #e6bd6c;
    --color-glass: rgba(185, 185, 185, 0.2);
}

